*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body{
	background-image: url("../../user/images/background3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}

.form-box{
	width: 380px;
	height: 480px;
	position: relative;
	margin: 6% auto;
	background: white;
	padding: 5px;
}

.form-control{ 
	height: 45px;
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
}

.input-group{
	top: 50px;
	left: 50px;
	position: absolute;
	width: 280px;
	transition: .5s;
}

.submit-btn{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: linear-gradient(to right, #ff105f, #ffad06);
	border-radius: 25px;
}

.check-box{
	margin: 30px 20px 30px 0;
}

.rp{
	color: #777;
	font-size: 12px;
	bottom: 126px;
	right: 90px;
	position: absolute;
}

.link{

}